@import "reset";

body {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  color: #202020;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card--dark {
  .card__title, .card__data__category, .card__data__price {
    color: white;
  }

  .dark path {
    stroke: white;
  }
}
